.DS_Store
Thumbs.db

.env
.env.*

node_modules/
dist/
build/
coverage/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

Instructions/*
!Instructions/Installation - Automatic Quartzy Order Chrome Plugin.pdf
!Instructions/Installation - Automatic Quartzy Order Chrome Plugin.docx
